.horse_section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer_img {
  background-image: url("../public/images/horses_grazing_in_a_field-wallpaper-1600x900.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.horse_section h1 {
  color: #333333;
  font-size: 50px;
}

.horse_section p {
  color: #2f2f2f;
  font-size: 24px;
}

.form {
  display: flex;
  flex-direction: row;
  padding: 2px;
  width: 810px;
  height: 75px;
  margin-top: 60px;
}

.confirm_inp {
  flex-grow: 2;
  border: none;
  border-radius: 10px;
  position: relative;
  padding-left: 55px;
  font-size: 17px;
}

.confirm_inp:focus {
  outline: none;
}

.confirm_but {
  border: none;
  background: #a80f02;
  width: 180px;
  height: 45px;
  border-radius: 10px;
  color: white;
  position: absolute;
  margin-left: 600px;
  margin-top: 15px;
}

.footer_info {
  background-color: #000;
  height: 310px;
}

.footer_main {
  color: white;
}

.footer_main ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-left: 0;
  font-size: 14px;
  margin: 0;
}

.post_li {
  padding-top: 20px;
  color: #bdbdbd;
}

.footer_last {
  display: flex;
  justify-content: space-between;
  color: #828282;
  padding-top: 50px;
  align-items: center;
}

.footer_adaptive {
  display: none;
}

.footer_main ul li:hover {
  color: #a80f02;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .footer_main {
    display: none;
  }
  .phone_footer {
    display: none;
  }
  .footer_adaptive {
    display: block;
  }
  .footer_info {
    height: auto;
  }
}

@media only screen and (max-width: 850px) {
  .form {
    width: 80vw;
    /* justify-content: end; */
    margin-left: 8vw;
  }
  .confirm_but {
    width: 80vw;
    margin-top: 100px;
    margin-left: 0;
    font-size: 25px;
    height: 60px;
  }
}

@media only screen and (max-width: 750px) {
  .confirm_inp {
    width: 80vw;
  }
}
