.gallery {
  display: flex;
  justify-content: space-between;
}

.arrow {
  margin-right: 30px;
}

.f {
  background-image: url("../public/images/fff.jpg");
  width: 165px;
  height: 135px;
}
.s {
  background-image: url("../public/images/fff.jpg");
  width: 165px;
  height: 135px;
}

.t {
  background-image: url("../public/images/first.jpg");
  width: 165px;
  height: 135px;
}

.foo {
  background-image: url("../public/images/first.jpg");
  width: 165px;
  height: 135px;
}

.fii {
  background-image: url("../public/images/first.jpg");
  width: 165px;
  height: 135px;
}

.sii {
  background-image: url("../public/images/first.jpg");
  background-size: cover;
}

.modal {
  z-index: 999;
}

.main {
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
}
.flex_row {
  justify-content: left;
  display: flex;
  padding-top: 20px;
}

.clicked {
  border: 5px solid black;
}

.main_carousel {
  width: 100%;
  height: 658px;
  border-radius: 20px;
}

.mini_carousel {
  width: 165px;
  height: 135px;
  margin-right: 20px;
  border-radius: 10px;
  border-top-right-radius: 10px;
}

.carousel {
  position: relative;
}

.control {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 580px) {
  .mini_carousel {
    justify-content: space-between;
    margin-right: 20px;
    width: 100px;
  }
  .main_carousel {
    height: 300px;
  }
}

@media only screen and (max-width: 380px) {
  .mini_carousel {
    justify-content: space-between;
    margin-right: 10px;
    width: 80px;
  }
}
