.about_main_info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about_sea {
  background-image: url("../public/images/sea.jpg");
  width: 503.07px;
  height: 661.93px;
  margin-top: 100px;
}

.info_explore {
  margin-top: 80px;
  width: 37vw;
}

.info_explore span {
  /* word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto; */
  line-height: 36px;
}

.info_img {
  margin-top: 100px;
  margin-bottom: 150px;
}

.info_img span {
  line-height: 46px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 70px;
}

.bishkek {
  width: 326px;
  height: 626.84px;
  background-image: url("../public/images/bish.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link_detail {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 10px;
  cursor: pointer;
  position: relative;
}

.details {
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 100px;
}

.bishkeek {
  width: 33vw;
  background-image: url("../public/images/bish.jpg");
  height: 500px;
  background-size: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.ala_a {
  width: 33vw;
  background-image: url("../public/images/ala.jpg");
  height: 500px;
  background-size: cover;
  border-radius: 10px;
}

.o {
  width: 33vw;
  background-image: url("../public/images/osh.jpg");
  height: 500px;
  border-radius: 10px;
  margin-top: 15px;
  background-size: cover;
  margin-right: 20px;
}

.is {
  width: 33vw;
  background-image: url("../public/images/issyk.jpg");
  height: 500px;
  border-radius: 10px;
  background-size: cover;
  margin-top: 15px;
}

.bishkeek:hover {
  opacity: 0.5;
  cursor: pointer;
}
.o:hover {
  opacity: 0.5;
  cursor: pointer;
}
.is:hover {
  opacity: 0.5;
  cursor: pointer;
}

.ala_a:hover {
  opacity: 0.5;
  cursor: pointer;
}

.bishkek:hover {
  opacity: 0.5;
  cursor: pointer;
}

.ala_archa:hover {
  opacity: 0.5;
  cursor: pointer;
}

.osh:hover {
  opacity: 0.5;
  cursor: pointer;
}

.issyk_kul:hover {
  opacity: 0.5;
  cursor: pointer;
}

.ala_osh {
  display: flex;
  justify-content: space-between;
}

.ala_archa {
  width: 437.82px;
  height: 304.59px;
  background-image: url("../public/images/ala.jpg");
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.osh {
  background-image: url("../public/images/osh.jpg");
  width: 437.82px;
  height: 304.59px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.issyk_kul {
  width: 894.71px;
  height: 304.59px;
  background-image: url("../public/images/issyk.jpg");
  margin-top: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.title {
  color: #ffffff;
  text-align: center;
}

.link_detail h1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #0f2938;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.link_detail h1:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.link_detail h1:hover {
  color: rgb(0, 0, 0) !important;
  font-weight: bold;
  transition: transform 0.85s;
}

.bish_title {
  margin-top: 0;
  padding-top: 150px;
  text-align: center;
  font-size: 40px;
  position: relative;
  cursor: pointer;
}

.bish_title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #0f2938;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.bish_title:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.bish_title :hover {
  color: rgb(0, 0, 0) !important;
  font-weight: bold;
  transition: transform 0.85s;
}

@media only screen and (max-width: 1045px) {
  .about_sea {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 1015px) {
  .info_explore {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 945px) {
  .issyk_kul {
    width: 95vw;
  }
  .ala_osh {
    flex-direction: column;
    margin-top: -630px;
    margin-left: 42vw;
    width: 53vw;
  }
  .bishkek {
    width: 40vw;
    border-radius: 10px;
  }
  .ala_archa {
    width: auto;
    margin-right: 0;
    border-radius: 10px;
  }
  .osh {
    width: auto;
    margin-top: 19px;
    border-radius: 10px;
  }
  .about_sea {
    border-radius: 10px;
  }
}

@media only screen and (max-width: 915px) {
  .info_explore {
    width: 90vw;
  }
}

@media only screen and (max-width: 900px) {
  .bishkeek {
    width: 80vw;
  }
  .is {
    width: 80vw;
  }
  .ala_a {
    width: 80vw;
  }
  .o {
    width: 80vw;
  }
}

@media only screen and (max-width: 590px) {
  .bishkek {
    height: 400px;
  }

  .ala_archa {
    height: 190px;
  }

  .osh {
    height: 190px;
  }
  .ala_osh {
    margin-top: -400px;
  }

  .about_sea {
    height: 400px;
  }
}

@media only screen and (max-width: 440px) {
  .bishkek {
    height: 260px;
  }

  .ala_archa {
    height: 120px;
  }

  .osh {
    height: 120px;
  }
  .ala_osh {
    margin-top: -260px;
    width: 48vw;
  }
  .issyk_kul {
    height: 170px !important;
    width: 90vw;
  }
}

@media only screen and (max-width: 410px) {
  .republic {
    font-size: 25px !important;
  }
  .info_img span br {
    display: none;
  }
  .expo_name {
    font-size: 19px !important;
  }
}
