.about_main_info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about_sea {
  background-image: url("../public/images/sea.jpg");
  width: 503.07px;
  height: 661.93px;
  margin-top: 170px;
}

.info_explore {
  margin-top: 250px;
}

.info_img {
  margin-top: 100px;
  margin-bottom: 150px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 70px;
}

.bishkek {
  width: 326px;
  height: 626.84px;
  background-image: url("../public/images/bish.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ala_osh {
  display: flex;
  justify-content: space-between;
}

.ala_archa {
  width: 437.82px;
  height: 304.59px;
  background-image: url("../public/images/ala.jpg");
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.osh {
  background-image: url("../public/images/osh.jpg");
  width: 437.82px;
  height: 304.59px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.issyk_kul {
  width: 894.71px;
  height: 304.59px;
  background-image: url("../public/images/issyk.jpg");
  margin-top: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.title {
  color: #ffffff;
  text-align: center;
}

@media only screen and (max-width: 1045px) {
  .about_sea {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 1015px) {
  .info_explore {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 945px) {
  .issyk_kul {
    width: 95vw;
  }
  .ala_osh {
    flex-direction: column;
    margin-top: -630px;
    margin-left: 42vw;
    width: 53vw;
  }
  .bishkek {
    width: 40vw;
    border-radius: 10px;
  }
  .ala_archa {
    width: auto;
    margin-right: 0;
    border-radius: 10px;
  }
  .osh {
    width: auto;
    margin-top: 19px;
    border-radius: 10px;
  }
  .about_sea {
    border-radius: 10px;
  }
}

@media only screen and (max-width: 590px) {
  .bishkek {
    height: 400px;
  }

  .ala_archa {
    height: 190px;
  }

  .osh {
    height: 190px;
  }
  .ala_osh {
    margin-top: -400px;
  }

  .about_sea {
    height: 400px;
  }
}

@media only screen and (max-width: 440px) {
  .bishkek {
    height: 260px;
  }

  .ala_archa {
    height: 120px;
  }

  .osh {
    height: 120px;
  }
  .ala_osh {
    margin-top: -260px;
    width: 48vw;
  }
  .issyk_kul {
    height: 170px !important;
    width: 90vw;
  }
}
