.video {
  width: 330px;
  height: 210px;
  z-index: 999;
  position: absolute;
  margin-left: 200px;
  margin-bottom: 50px;
  border-radius: 10px !important;
}

.video_player {
  width: 339px !important;
  height: 216px !important;
  border-radius: 10px !important;
}

/* @media only screen and (max-width: 1320px) {
  .video {
    margin-left: 850px;
  }
} */

/* @media only screen and (max-width: 1285px) {
  .video {
    margin-left: 0px;
  }
} */

@media only screen and (max-width: 600px) {
  .video {
    margin-left: 150px;
    width: 200px !important;
    height: 140px;
  }
  .video_player {
    width: 200px !important;
    height: 140px !important;
  }
}

@media only screen and (max-width: 450px) {
  .video {
    margin-left: 80px;
  }
}
