.app_main {
  /* min-width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw); */
  background-color: #000;
  position: fixed;
  z-index: 10000;
  min-width: 100vw;
}

.navbar_pos {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.nav_info {
  color: white;
  padding-top: 10px;
}

.nav_info ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.nav_info ul li {
  padding-right: 50px;
}

.nav_add {
  display: flex;
  justify-content: space-between;
  width: 320px;
  padding-top: 10px;
}

.burger_menu {
  padding-top: 22px;
}

.flag {
  padding-top: 17px;
  width: 40px;
}

.search {
  padding-top: 10px;
}

.nav_info ul li:hover {
  color: red;
}
.search_icon {
  color: white !important;
  margin-top: 6px;
}
.main_search {
  display: flex !important;
  justify-content: end;
  background-color: #000;
}

@media only screen and (max-width: 1320px) {
  .nav_info {
    display: none;
  }
  .flag {
    display: none;
  }
  .search {
    display: none;
  }
}

@media only screen and (max-width: 420px) {
  .nav_add {
    width: auto;
  }
}
