.kyrgyzstan {
  padding-top: 50px;
}

.kyrgyzstan h1 {
  color: #a80f02;
  font-size: 32px;
}

.kyrgyzstan span {
  color: #333333;
  font-size: 50px;
}

.kyrgyzstan p {
  color: #2f2f2f;
  font-size: 24px;
}

.kyrgyzstan button:hover {
  background-color: #70120a;
  font-size: 18px;
  cursor: pointer;
}

.kyrgyzstan button {
  background-color: #a80f02;
  color: white;
  width: 180px;
  height: 45px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.35s;
  z-index: 0;
  position: relative;
}

.kyrgyzstan button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.kyrgyzstan button:active {
  color: #a80f02;
}

.kyrgyzstan button:active:after {
  background: transparent;
}

.kyrgyzstan button:hover:before {
  opacity: 1;
}

.kyrgyzstan button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #a80f02;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.adv {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  flex-wrap: wrap;
}

.arrow {
  display: flex;
  align-items: center;
}

.read_more {
  color: #2f2f2f;
  display: flex;
  width: 170px;
  justify-content: space-between;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}

.info_detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.picture_first {
  width: 220px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.picture_sec {
  background-image: url("../public/images/se.jpg");
  width: 220px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: contain;
}

.picture_third {
  background-image: url("../public/images/th.jpg");
  width: 220px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: contain;
}

.picture_fourth {
  background-image: url("../public/images/fo.jpg");
  width: 220px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: contain;
}

.pic_info {
  padding-left: 40px;
  width: 20vw;
}

.info_description {
  height: 125px;
  max-height: 200px;
  overflow: hidden;
}

.read_more:hover {
  color: rgb(0, 0, 0) !important;
  font-weight: bold;
  cursor: pointer;
}

.kyrgyzstan button:hover {
  background-color: #70120a;
  font-size: 18px;
  cursor: pointer;
}

.picture_first:hover {
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transform: scale(1.05);
}

.picture_sec:hover {
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transform: scale(1.05);
}

.picture_fourth:hover {
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transform: scale(1.05);
}

.picture_third:hover {
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transform: scale(1.05);
}

.p_read::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #0f2938;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.p_read:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.p_read:hover {
  color: rgb(0, 0, 0) !important;
  font-weight: bold;
  transition: transform 0.85s;
}

@media only screen and (max-width: 780px) {
  .pic_info {
    width: 50vw;
  }
}

@media only screen and (max-width: 630px) {
  .info_detail {
    flex-wrap: wrap;
    display: block;
  }
  .picture_first {
    width: 80vw;
    height: 200px;
    background-size: cover;
  }
  .pic_info {
    padding-left: 0;
  }
  .read_more {
    margin-top: 0;
  }
  .picture_sec {
    width: 80vw;
    height: 200px;
    background-size: cover;
  }
  .picture_third {
    width: 80vw;
    height: 200px;
    background-size: cover;
  }
  .picture_fourth {
    width: 80vw;
    height: 200px;
    background-size: cover;
  }
  .but_article {
    position: absolute;
    margin-top: 1700px;
  }
  .but_article button {
    width: 90vw;
    height: 60px;
  }
  .adv {
    justify-content: center;
  }
  /* .kyrgyzstan button {
    margin-left: 30px;
  } */
  .adv {
    margin-bottom: 200px;
  }
}
@media only screen and (max-width: 470px) {
  .kyrgyzstan span {
    font-size: 42px;
    font-weight: bold;
  }

  .kyrgyzstan p {
    font-size: 18px;
  }

  .kyrgyzstan {
    padding-top: 30px !important;
  }
}

@media only screen and (max-width: 420px) {
  .kyrgyzstan button {
    margin-left: 0;
  }
}
